body {
    width: 1200px;
    margin: 0 auto;
}
ul li {
    list-style-type: none;
    text-align: center;
}
header ul li,nav ul li {
    float: left;
    width: 100px;
    border: 1px solid #222;
    --border-collapse: collapse;
}
/* a태그 */
a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
#th_topMenu {
    width: inherit;
    height: 50px;
}
header {
    height: 250px;
}
#top_header {
    height: 20px;
}
/* 메인 이미지 */
#main_img>img {
    width: 100%;
    height: 200px;
    display: flex;
    background-size: cover;
}
/* 카테고리 메뉴 */
#cate_menu {
    width: inherit;
    height: 50px;
    padding: 10px;
}
#cate_menu li {
    width: 120px;
    padding: 5px 0;
}
/* 상단 메뉴 */
#th_menu ul{
    float: right;
}
#th_topMenu ul ul {
    display: none;
}
#th_topMenu>ul>li {
    display: inline-block;
    position: relative;
}
/* 마이페이지 아래 숨겨진 메뉴 */
#th_topMenu ul li:hover ul {
    display: block;
    position: absolute;
    left: -41px;
}
/* 배너 관련 */
.banner_wrap input[id*="slide"] {
    display: none;
}
.banner_wrap .img_list {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.banner_wrap .slideList {
    white-space: nowrap;
    font-size: 0;
}
.banner_wrap a {
    width: 500px;
}
.banner_wrap .slideList > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}
.banner_wrap .slideList > li > a {
    display: block;
    position: relative;
}
.banner_wrap .slideList > li > a img {
    width: 100%;
}
/* 슬라이드 버튼 */
.banner_wrap .slideList label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    cursor: pointer;
}
.banner_wrap .slideList .left {
    left: 30px;
    background:url(../img/left_img.jpg)
    center center / 100% no-repeat;
}
.banner_wrap .slideList .right {
    right: 30px;
    background:url(../img/right_img.jpg)
    center center / 100% no-repeat;
}
.banner_wrap [id="slide01"]:checked ~ .img_list .slideList > li {
    transForm: translateX(0%);
}
.banner_wrap [id="slide02"]:checked ~ .img_list .slideList > li {
    transForm: translateX(-100%);
}
.banner_wrap [id="slide03"]:checked ~ .img_list .slideList > li {
    transForm: translateX(-200%);
}
/* new items */
.new_items {
    width: 100%;
    text-align: center;
}
.nt_img {
    width: 100px;
    height: 100px;
}
/* weekly best */
.best_items {
    width: 100%;
    text-align: center;
}
.best_items > ul {
    padding-left: 0px;
}
.best_items li {
    width: 280px;
    display: inline-block
}
.bt_box {
    display: inline-block;
    height: 350px;
}
.bt_box img {
    width: 200px;
    height: 250px;
}
/* footer */
footer {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    position: relative;
}
.left_footer {
    width: 60%;
    height: 100%;
    border-right: 1px solid #222;
}
.left_footer li {
    display: inline-block;
    height: 100%;
}
/* 강제로 위치 고정함 */
.footer_info {
    position: absolute;
    top: 15px;
}
.right_footer {
    float: right;
    position: absolute;
    bottom: 42px;
    right: 50px;
}